- name: Ensure Downloads directory exists.
  file:
    dest: "{{ ansible_env.HOME }}/Downloads"
    mode: 0755
    # https://www.warp.dev/terminus/linux-file-permissions-explained#:~:text=To%20check%20permissions%20of%20all,and%20w%20is%20%22world.%22
    state: directory
  tags:
  - setup
  - nvim

- name: Get ripgrep x86
  ansible.builtin.get_url:
    url: "https://github.com/BurntSushi/ripgrep/releases/download/{{ ripgrep_version }}/ripgrep_{{ ripgrep_version }}-1_amd64.deb"
    dest: "{{ ansible_env.HOME }}/Downloads/ripgrep_{{ ripgrep_version }}-1_amd64.deb"
    mode: '0664'
  when: ansible_architecture == "x86_64"
  tags:
    - setup
    - nvim

- name: Validate if ripgrep already exists
  apt:
    name: "ripgrep"
    state: present
  check_mode: yes
  register: ripgrep_check
  tags:
    - setup
    - nvim

- name: Install ripgrep x86
  become: yes
  ansible.builtin.apt:
    deb: 'https://github.com/BurntSushi/ripgrep/releases/download/{{ ripgrep_version }}/ripgrep_{{ ripgrep_version }}-1_amd64.deb'
  when: ripgrep_check.failed and ansible_architecture == "x86_64"
  tags:
    - setup
    - nvim

- name: Get fd x86
  ansible.builtin.get_url:
    url: "https://github.com/sharkdp/fd/releases/download/v{{ fd_version }}/fd-musl_{{ fd_version }}_amd64.deb"
    dest: "{{ ansible_env.HOME }}/Downloads/fd-musl_{{ fd_version }}_amd64.deb"
    mode: '0664'
  when: ansible_architecture == "x86_64"
  tags:
    - setup
    - nvim

- name: Install fd x86
  become: yes
  ansible.builtin.apt:
    deb: 'https://github.com/sharkdp/fd/releases/download/v{{ fd_version }}/fd-musl_{{ fd_version }}_amd64.deb'
  when: ansible_architecture == "x86_64"
  tags:
    - setup
    - nvim

- name: Get fd arm
  ansible.builtin.get_url:
    url: "https://github.com/sharkdp/fd/releases/download/v{{ fd_version }}/fd-musl_{{ fd_version }}_arm64.deb"
    dest: "{{ ansible_env.HOME }}/Downloads/fd-musl_{{ fd_version }}_arm64.deb"
    mode: '0664'
  when: ansible_architecture == "aarch64"
  tags:
    - setup
    - nvim

- name: Install fd arm
  become: yes
  ansible.builtin.apt:
    deb: 'https://github.com/sharkdp/fd/releases/download/v{{ fd_version }}/fd-musl_{{ fd_version }}_arm64.deb'
  when: ansible_architecture == "aarch64"
  tags:
    - setup
    - nvim

- name: Install other neovim dependencies
  become: yes
  ansible.builtin.apt:
    name:
      - luarocks
      - imagemagick
      - python3-venv
  tags:
    - setup
    - nvim

# - name: Get Packer
#   ansible.builtin.git:
#     repo: 'https://github.com/wbthomason/packer.nvim'
#     dest: "{{ ansible_env.HOME }}/.local/share/nvim/site/pack/packer/start/packer.nvim"
#   tags:
#     - setup
#     - nvim

- name: Check if nvim config directory is empty
  find:
    paths: "{{ ansible_env.HOME }}/.config/nvim"
    file_type: any
  register: nvim_contents
  tags:
    - setup
    - nvim

- name: Clone nvim config
  ansible.builtin.git:
    repo: 'https://github.com/brucechanjianle/nvim.git'
    dest: "{{ ansible_env.HOME }}/.config/nvim"
    force: yes
  when: nvim_contents.matched == 0
  tags:
    - setup
    - nvim

- name: Build nvim
  shell: "{{ ansible_env.HOME }}/.config/nvim/install_neovim.bash -a true -d true"
  tags:
    - setup
    - nvim

- name: Install nvim plugins
  become: no
  shell: nvim --headless -c 'autocmd User LazySync quitall' -c 'Lazy sync'
  # shell: nvim --headless -c 'autocmd User PackerComplete quitall' -c 'PackerSync'
  # https://github.com/wbthomason/packer.nvim/issues/502
  tags:
    - setup
    - nvim
