- name: Cloning private aliases
  ansible.builtin.git:
    repo: 'git@github.com:BruceChanJianLe/ssh.git'
    dest: "{{ ansible_env.HOME }}/.config/p_aliases"
    recursive: no
    update: yes
    accept_hostkey: yes
    version: master
    bare: false
  when: "{{ decrypt_bri }}"
  tags:
    - setup
    - private_aliases
