- name: Ensure .ssh directory exists.
  file:
    dest: "{{ ansible_env.HOME }}/.ssh"
    mode: '700'
    state: directory
  tags:
  - ssh
  - dotfiles
  - setup

- name: Cloning em' (1)
  vars:
    ssh_dir: "{{ ansible_env.HOME }}/.ssh/"
    users:
      - { name: "id_cjl" }
      - { name: "id_bri" }
      - { name: "id_elip" }
  ansible.builtin.get_url:
    url: "https://raw.githubusercontent.com/BruceChanJianLe/dotfiles/refs/heads/master/.ssh/{{ item['name'] }}"
    dest: "{{ ansible_env.HOME }}/.ssh/{{ item['name'] }}"
    mode: '600'
  with_items: "{{ users }}"
  tags:
  - ssh
  - dotfiles
  - setup

- name: Cloning em' (2)
  vars:
    ssh_dir: "{{ ansible_env.HOME }}/.ssh/"
    users:
      - { name: "id_cjl.pub" }
      - { name: "id_bri.pub" }
      - { name: "id_elip.pub" }
  ansible.builtin.get_url:
    url: "https://raw.githubusercontent.com/BruceChanJianLe/dotfiles/refs/heads/master/.ssh/{{ item['name'] }}"
    dest: "{{ ansible_env.HOME }}/.ssh/{{ item['name'] }}"
    mode: '664'
  with_items: "{{ users }}"
  tags:
  - ssh
  - dotfiles
  - setup

- name: Ask the Magic Conch Shell (1)
  ansible.builtin.copy:
    src: "{{ ansible_env.HOME }}/.ssh/id_bri"
    dest: "{{ ansible_env.HOME }}/.ssh/id_bri"
    mode: '600'
    decrypt: "{{ decrypt_bri }}"
  tags:
  - ssh
  - dotfiles
  - setup

- name: Ask the Magic Conch Shell (2)
  ansible.builtin.copy:
    src: "{{ ansible_env.HOME }}/.ssh/id_elip"
    dest: "{{ ansible_env.HOME }}/.ssh/id_elip"
    mode: '600'
    decrypt: "{{ decrypt_elip }}"
  tags:
  - ssh
  - dotfiles
  - setup

- name: Ask the Magic Conch Shell (3)
  ansible.builtin.copy:
    src: "{{ ansible_env.HOME }}/.ssh/id_cjl"
    dest: "{{ ansible_env.HOME }}/.ssh/id_cjl"
    mode: '600'
    decrypt: "{{ decrypt_cjl }}"
  tags:
  - ssh
  - dotfiles
  - setup

- name: Copy config file
  ansible.builtin.get_url:
    url: "https://raw.githubusercontent.com/BruceChanJianLe/dotfiles/refs/heads/master/.ssh/config"
    dest: "{{ ansible_env.HOME }}/.ssh/config"
    mode: '600'
  tags:
  - ssh
  - dotfiles
  - setup

- name: Set authorized key took from file
  authorized_key:
    user: "{{ ansible_env.HOME }}"
    state: present
    key: "{{ ansible_env.HOME }}/.ssh/id_cjl.pub"
  with_fileglob:
  - "{{ ansible_env.HOME }}/.ssh/cjl.pub"
  tags:
  - ssh
  - dotfiles
  - setup

- name: Enable and start sshd service (Debian)
  become: yes
  ansible.builtin.systemd:
    name: ssh
    enabled: yes
    state: started
  when: ansible_os_family == "Debian"
  tags:
  - ssh
  - dotfiles
  - setup

- name: Enable and start sshd service (Arch)
  become: yes
  ansible.builtin.systemd:
    name: sshd
    enabled: yes
    state: started
  when: ansible_os_family == "Archlinux"
  tags:
  - ssh
  - dotfiles
  - setup
