- name: Install xsel and xclip
  apt:
    name:
      - xsel
      - xclip
    state: present
  tags:
    - setup
    - tmux

- name: Clone tmux
  ansible.builtin.git:
    repo: 'https://github.com/brucechanjianle/tmux.git'
    dest: "{{ lookup('env', 'HOME') }}/.config/tmux"
  tags:
    - setup
    - tmux

- name: Build tmux
  shell: "cd {{ lookup('env', 'HOME') }}/.config/tmux && ./install_tmux.bash -a true -d true"
  tags:
    - setup
    - tmux

- name: Clone tmux plugin manager
  ansible.builtin.git:
    repo: 'https://github.com/tmux-plugins/tpm'
    dest: "{{ lookup('env', 'HOME') }}/.config/tmux/plugins/tpm"
  tags:
    - setup
    - tmux

- name: Install tmux plugins
  shell: "tmux new-session -n install 'cd {{ lookup('env', 'HOME') }}/.config/tmux/plugins/tpm/bindings && ./install_plugins'"
  tags:
    - setup
    - tmux
